[submodule "thirdparty/Slab"]
	path = thirdparty/Slab
	url = https://github.com/pirogronian/Slab
[submodule "thirdparty/bitser"]
	path = thirdparty/bitser
	url = https://github.com/pirogronian/bitser
[submodule "thirdparty/middleclass"]
	path = thirdparty/middleclass
	url = https://github.com/kikito/middleclass
